.env
.venv/
**/.venv/
__pycache__/
**/__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
*.egg-info/
build/
dist/
/data/
work_dir/
lt_lib/work_dirs/
lt_lib/dataset/
lt_lib/configs/exp/
*.npy
*.npz
*.pt
*.pth
*.ckpt
*.log
